.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  padding-left: 1em;
}

.container ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container ul li {
  margin-right: 1em;
}

.container ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.container p {
  color: white;
  font-size: 22px;
  font-weight: bold;
}
